@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: oklch(29.3% 0.066 243.157);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.sky-day {
  @apply bg-gradient-to-b from-sky-300 to-sky-50;
}

.sky-night {
  @apply bg-gradient-to-b from-sky-700 to-sky-950;
}

.background {
  @apply bg-gradient-to-b from-blue-100/70 to-blue-50/70;
}

.dark .background {
  @apply bg-gradient-to-b from-sky-950 to-sky-950;
}

.background-selected {
  @apply bg-gradient-to-b from-blue-300/80 to-blue-200/80;
  /* @apply bg-gradient-to-b from-blue-200/80 to-blue-100/80 ; */
}

.dark .background-selected {
  @apply bg-gradient-to-b from-slate-900 to-slate-800;
  /* @apply bg-gradient-to-b from-slate-900/90 to-slate-850/90; */
}

.horizontal-scroll {
  overflow: auto;
  scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}